:root {
  /* CTA text */
  --clr-primary-100: hsl(356, 100%, 66%);
  /* CTA hover bg */
  --clr-primary-200: hsl(355, 100%, 74%);
  /* Headings */
  --clr-primary-300: hsl(208, 49%, 24%);

  /* Text */
  --clr-neutral-100: hsl(0, 0%, 100%);
  /* Footer text */
  --clr-neutral-200: hsl(240, 2%, 79%);
  /* Body copy */
  --clr-neutral-300: hsl(207, 13%, 34%);
  /* Footer bg */
  --clr-neutral-400: hsl(240, 10%, 16%);

  /* Bg gradient - Intro/CTA mobile nav */
  --gr-intro-100: rgb(255, 143, 112);
  --gr-intro-200: rgb(255, 61, 84);

  /* Bg gradient - body */
  --gr-body-100: #2c2d3f;
  --gr-body-200: #3f4164;

  /* Font families */
  --ff-primary: "Overpass", sans-serif;
  --ff-secondary: "Ubuntu", sans-serif;

  /* Font primary weights */
  --fw-primary-300: 300;
  --fw-primary-400: 400;
  --fw-primary-600: 600;

  /* Font secondary weights */
  --fw-secondary-400: 400;
  --fw-secondary-500: 500;
  --fw-secondary-700: 700;

  /* Font sizes */
  --fs-100: 0.75rem;
  --fs-200: 0.9rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.3rem;
  --fs-600: 1.7rem;
  --fs-700: 2.25rem;
  --fs-750: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.75rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Colours */
.clr-primary-100 {
  color: var(--clr-primary-100);
}
.clr-primary-200 {
  color: var(--clr-primary-200);
}
.clr-primary-300 {
  color: var(--clr-primary-300);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}
.clr-neutral-200 {
  color: var(--clr-neutral-200);
}
.clr-neutral-300 {
  color: var(--clr-neutral-300);
}
.clr-neutral-400 {
  color: var(--clr-neutral-400);
}

.padding-block {
  padding-block: 4rem;
}

/* Bg gradients */
.bg-gradient-intro {
  background-color: rgb(255, 61, 84);
  background: linear-gradient(
    270deg,
    rgba(255, 61, 84, 1) 0%,
    rgba(255, 143, 112, 1) 100%
  );
}
.bg-gradient-body {
  background: rgb(44, 45, 63);
  background: linear-gradient(
    90deg,
    rgba(44, 45, 63, 1) 0%,
    rgba(63, 65, 100, 1) 100%
  );
}

/* Bg colors */
.bg-color-editor {
  background-color: var(--clr-neutral-100);
}
.bg-color-footer {
  background-color: var(--clr-neutral-400);
}
.bg-color-phones {
  background-color: transparent;
}

/* Bg images */
.bg-img-intro {
  background-image: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(to left, rgba(255, 61, 84, 0.9), rgba(255, 143, 112, 1));
  background-position: 25.7% 51.5%;
  background-repeat: no-repeat;
  background-size: auto;
}
.bg-img-editor {
  background-image: url(./images/illustration-editor-desktop.svg);
  background-position: 153% 50%;
  background-repeat: no-repeat;
  background-size: 63.75%;
  background-color: transparent;
}
.bg-img-phones {
  background: url(./images/bg-pattern-circles.svg),
    linear-gradient(to right, rgba(44, 45, 63, 1) 0%, rgba(63, 65, 100, 1) 100%);
  background-position: -50.2% 83%, -55% 90%;
  background-repeat: no-repeat;
  background-size: auto;
}
.bg-img-laptop {
  background-image: url(./images/illustration-laptop-desktop.svg);
  background-position: -60.5% 50%;
  background-repeat: no-repeat;
  background-size: 68%;
}

/* Font family */
.ff-primary {
  font-family: var(--ff-primary);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}

/* Font weights */
.fw-primary-light {
  font-weight: var(--fw-primary-300);
}
.fw-primary-regular {
  font-weight: var(--fw-primary-400);
}
.fw-primary-semi-bold {
  font-weight: var(--fw-primary-600);
}

.fw-secondary-regular {
  font-weight: var(--fw-secondary-400);
}
.fw-secondary-medium {
  font-weight: var(--fw-secondary-500);
}
.fw-secondary-bold {
  font-weight: var(--fw-secondary-700);
}

/* Font sizes */
.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-750 {
  font-size: var(--fs-750);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

/* Utilities */
.hidden {
  opacity: 0;
}

/* General styling */
button {
  border: none;
  background: none;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  --max-width: 1110px;
  --container-padding: 2rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
  padding-block: 3.5rem;
}

section:nth-of-type(1) {
  border-radius: 0px 0px 0px 100px;
}
.bg-img-container {
  border-radius: 0px 100px 0px 100px;
}
footer {
  border-radius: 0px 100px 0px 0px;
}

/* Header */
.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-flow-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-wrapper {
  padding-left: 2.5rem;
  padding-top: 0.5rem;
}

.primary-nav-list img {
  display: inline-block;
  padding-inline: 0.4rem;
}

.primary-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-nav-list > li {
  padding-inline: 1rem;
}

.primary-nav-list > li > button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  cursor: pointer;
}

.secondary-navigation {
  display: flex;
  position: absolute;
}

.header-flow-end {
  padding-top: 0.5rem;
}

.header-flow-end > button {
  padding-block: 0.8rem;
  padding-inline: 2.5rem;
  border-radius: 30px;
  text-align: center;
}

.header-flow-end > .login {
  cursor: pointer;
  color: var(--clr-neutral-100);
}

.header-flow-end > .sign-up {
  cursor: pointer;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-100);
}

.header-flow-end > .login:hover {
  cursor: pointer;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-200);
}

.header-flow-end > .sign-up:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
}

/* Intro */
.primary-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7.4rem;
  padding-bottom: 6rem;
  row-gap: 0.3rem;
}

.primary-intro h1 {
  text-align: center;
}

.primary-intro-buttons {
  padding-top: 2.5rem;
}

.primary-intro-buttons > button {
  padding-block: 0.8rem;
  margin-inline: 0.5rem;
  border-radius: 30px;
  text-align: center;
}

.primary-intro-buttons > .start {
  cursor: pointer;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-100);
  padding-inline: 1rem;
}

.primary-intro-buttons > .learn {
  cursor: pointer;
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-100);
  padding-inline: 1.5rem;
}

.primary-intro-buttons > .start:hover {
  cursor: pointer;
  background-color: var(--clr-primary-200);
  color: var(--clr-neutral-100);
  padding-inline: 1rem;
}

.primary-intro-buttons > .learn:hover {
  cursor: pointer;
  color: var(--clr-primary-100);
  background-color: var(--clr-neutral-100);
  padding-inline: 1.5rem;
}

/* Editor section */
.editor {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  z-index: 1;
}

.editor > h1 {
  padding-top: 5.9rem;
  padding-bottom: 3.8rem;
  text-align: center;
}

.editor-container {
  display: flex;
  flex-direction: column;
  row-gap: 4.5rem;
  padding-bottom: 13.5rem;
}

.editor-container p {
  padding-top: 1.3rem;
  line-height: 1.7rem;
  letter-spacing: 0.01rem;
  word-spacing: 0.08rem;
  width: 55ch;
  padding-right: 1.8rem;
}

/* Phones section */
.phones-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.2rem;
  padding-bottom: 3.5rem;
  overflow: visible;
  position: relative;
  justify-items: flex-start;
  /* column-gap: 4rem; */
}

.paragraph {
  grid-column: 2;
  transform: translateX(3%);
}

.paragraph > h1 {
  padding-bottom: 1.2rem;
}

.paragraph > p {
  padding-right: 2rem;
  line-height: 1.7rem;
  letter-spacing: 0.01rem;
  word-spacing: 0.08rem;
  opacity: 0.8;
}

.phones-container > img {
  position: absolute;
  transform: translateY(-21%) translateX(-8%);
  width: 50%;
}

/* Laptop section */
.laptop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.laptop-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 4.7rem;
  padding-block: 15.4rem;
}

.top p,
.bottom p {
  padding-top: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: 0.01rem;
  word-spacing: 0.08rem;
  width: 55ch;
  padding-right: 1.8rem;
}

/* Footer */
.primary-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.primary-footer-wrapper h3 {
  padding-bottom: 1.5rem;
}

.primary-footer-wrapper li {
  padding-block: 0.3rem;
  opacity: 0.8;
}

/* Media queries */
@media (max-width: 65em) {
  .editor-container p {
    width: 45ch;
    padding-right: 0rem;
  }

  .top p,
  .bottom p {
    width: 45ch;
    padding-right: 0rem;
  }

  .phones-container > .paragraph > p {
    width: 45ch;
    padding-right: 0rem;
  }

  .primary-footer-logo,
  .primary-footer-nav-product,
  .primary-footer-nav-company,
  .primary-footer-nav-connect {
    justify-content: center;
    align-items: center;
  }

  .phones-container > img {
    position: absolute;
    transform: translateY(-21%) translateX(-8%);
    width: 55%;
  }
}

@media (max-width: 60em) {
  .editor-container p {
    width: 41ch;
    padding-right: 0rem;
  }

  .top p,
  .bottom p {
    width: 41ch;
    padding-right: 0rem;
  }

  .phones-container > .paragraph > p {
    width: 41ch;
    padding-right: 0rem;
  }

  .phones-container > img {
    position: absolute;
    transform: translateY(-10%) translateX(-8%);
    width: 50%;
  }
}

@media (max-width: 50em) {
  .phones-container > img {
    position: absolute;
    transform: translateY(0%) translateX(-8%);
    width: 50%;
  }
}
